#contents {
    position: absolute;
    width: 100%;
    right: 0;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 30px;
    z-index: 1
}

.right-hide {
    margin-right: -300px;
}