#detail {
    padding: 3px 14px;
    overflow: hidden;
    -webkit-transition: height .5s ease;
    -moz-transition: height .5s ease;
    -o-transition: height .5s ease;
	transition: height .5s ease;
}
#detail.closed-height {
	height: 0 !important;
}
#detail-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

