#admin-info {
    width: 100%;
    overflow: hidden;
	padding-bottom: 20px;
	box-sizing: border-box;
}

#welcome-message {
    width: 78%;
    float: left;
    color: #fff;
	font-weight: bold;
}

.tool {
    width: 11%;
    height: 21px;
    color: #CCCCCC;
    cursor: pointer;
}